{{- $personal := default false (env "CM_PERSONAL") }}
{{- $name := default "Romario" (env "CM_NAME") }}
{{- $git_name := default "romariorobby" (env "CM_GIT_NAME") }}
{{- $git_email := default "romariorobby@yahoo.com" (env "CM_GIT_EMAIL")}}
{{- $github_name := default "romariorobby" (env "CM_GITHUB_NAME")}}
{{- $github_token := default "" (env "CM_GITHUB_TOKEN")}}
{{- $encryption := default "" (env "CM_ENCRYPTION") }}
{{- $passmgr := default "" (env "CM_PASSMGR") }}
{{- $profile := default "base" (env "CM_PROFILE") -}}
{{- $debug := default false (env "CM_DEBUG") }}
# Just put here temporarly...   valid value = rsa,ed25519(not yet added),
{{- $sshtype := default "rsa" (env "CM_SSHTYPE") }}


# Generalize os variable
# you need change manually if you installed "manjaro", "endevaour" or any distro derivates
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
# Leave here for now. it will retrieve parent distro like arch,ubuntu if you are using distro derivates
{{- $osidlike := "" }}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{    $osidlike = .chezmoi.osRelease.idLike }}
{{- end -}}

{{- if (env "CM_ASK") }}
{{-   $name = promptString "Enter your name" $name -}}
{{-   $profile = promptString "Enter Profile/Type [server,base,minimal,full]" $profile -}}
{{-   $encryption = promptString "Enter Encryption program [gpg,age]" $encryption -}}
{{-   $passmgr = promptString "Enter Password Manager" $passmgr -}}
{{-   $git_name = promptString "Enter git name" $git_name -}}
{{-   $git_email = promptString "Enter git email" $git_email -}}
{{-   $github_name = promptString "Enter Github name" $github_name -}}
{{-   $github_token = promptString (printf "Enter Github personal token for [%s]" $git_name) $github_token -}}
{{-   $debug = promptBool "Try on test mode?" $debug -}}
{{- end }}

{{- if (or $personal (eq $encryption "gpg") (env "CM_GPG") (env "CM_GPG_RECEPIENT") (eq $passmgr "pass"))  -}}
{{-   $encryption = "gpg" }}
{{-   if (eq $passmgr "pass") }}
{{-     if (eq $github_token "") }}
{{-       $github_token = promptString "github personal token" $github_token -}}
{{-     end }}
{{-   end }}
encryption = "gpg"
[gpg]
{{-   if (env "CM_GPG_RECEPIENT") }}
{{-     $gpgrecepient := default (env "CM_GPG_RECEPIENT") -}}
recepient = {{ $gpgrecepient | quote }}
{{-   else }}
symmetric = "true"
{{-   end }}
[pinentry]
command = "pinentry"
{{- end }}

# Exclude from output or diff chezmoi
[diff]
exclude = ["scripts"]

[data]
name = {{ $name | quote }}
profile = {{ $profile | quote }}
osid = {{ $osid | quote }}
osidlike = {{ $osidlike | quote }}
passmgr = {{ $passmgr | quote }}
encryption = {{ $encryption | quote }}
sshtype = {{ $sshtype | quote }}
debug = {{ $debug }}

[data.git]
name = {{ $git_name | quote }}
email = {{ $git_email | quote }}

[data.git.github]
username = {{ $github_name | quote }}
token = {{ $github_token | quote }}
