#!/bin/sh

. {{ joinPath .chezmoi.workingTree "/misc/utils.sh" }}
log "* start after setup" 
# I'm not sure why we need to do there, even though i've cleanup all .bashrc related in $HOME
{{- if (eq .chezmoi.os "linux") }}
if [ -f "/etc/bash.bashrc" ]; then
	grep -q ".config}/bash/.bashrc" /etc/bash.bashrc > /dev/null ||\
		{ 
			cat <<- 'EOF' | sudo tee -a /etc/bash.bashrc; log "Modified /etc/bash.bashrc"
				if [ -s "${XDG_CONFIG_HOME:-$HOME/.config}/bash/.bashrc" ]; then
				    . "${XDG_CONFIG_HOME:-$HOME/.config}/bash/.bashrc"
				fi
			EOF
		}
fi

{{- end -}}

{{- if (eq .osid "linux-arch") }}
# Make pacman colorful, concurrent downloads and Pacman eye-candy.
grep -q "ILoveCandy" /etc/pacman.conf || sudo sed -i "/#VerbosePkgLists/a ILoveCandy" /etc/pacman.conf
sudo sed -Ei "s/^#(ParallelDownloads).*/\1 = 5/;/^#Color$/s/#//" /etc/pacman.conf

# Use all cores for compilation.
sudo sed -i "s/-j2/-j$(nproc)/;/^#MAKEFLAGS/s/^#//" /etc/makepkg.conf
{{- end }}
{{- if (eq .chezmoi.os "linux") }}
# Profile?
if [ -d "$HOME/.local/src/dwmf" ]; then
	sudo pacman --noconfirm -S xorg-xsetroot >/dev/null 2>&1
	sudo make -C "$HOME/.local/src/dwmf" install | log || err "Can't build dwm"
fi
{{- end }}

case "$SHELL" in
	*bash*)
		sudo chsh -s /bin/zsh "$USER" >/dev/null 2>&1 & _spinner "Change Default shell to zsh" && suc "You need to relogout to takes effects"
		log "Change default shell to zsh"
		;;
esac

# Setup web extension for mpv
{{- if (eq .chezmoi.os "linux") }}
if [ -x "$(command -v "open-in-mpv")" ]; then
	desktop_dir="$HOME/.local/share/applications"

	cat << 'EOF' > $desktop_dir/open-in-mpv.desktop
[Desktop Entry]
Name=open-in-mpv
Exec=open-in-mpv %u
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/mpv
EOF
	update-desktop-database
	xdg-mime default open-in-mpv.desktop x-scheme-handler/mpv
fi
# TLDR
if [ -x "$(command -v "tldr")" ]; then
	tldr --print-completion zsh | tee $HOME/.config/zsh/completions/_tldr
fi
{{- end }}
