#!/bin/sh

. {{ joinPath .chezmoi.workingTree "/misc/utils.sh" }}
log "========Starting Chezmoi==========="

printf "
===============================
Operating System = {{ .chezmoi.os }}
{{- if (eq .chezmoi.os "linux") }}
Distribution = {{ .chezmoi.osRelease.id }}
{{- end }}
Profile = {{ .profile }}
Encryption = {{ (or .encryption (printf "None")) }}
Password Manager = {{ (or .passmgr (printf "None")) }}
===============================
"
# nc -zw1 1.1.1.1 443 & _spinner "Checking Internet connection" || die "No Internet Connection"
read -p "continue with this setting? " ans && [ ${ans:-N} = y ]
