{{- if (eq .passmgr "bitwarden") -}}
{{-   if (eq .osid "linux-arch") -}}
{{-     (bitwarden "item" "archlaptop-ed25519pub").notes -}}
{{-   else if (eq .osid "linux-pop") -}}
{{-     (bitwarden "item" "poplaptop-ed25519pub").notes -}}
{{-   else if (eq .osid "darwin") -}}
{{-     (bitwarden "item" "macbook-ed25519pub").notes -}}
{{-   else if (eq .osid "android") -}}
{{-     (bitwarden "item" "android-ed25519pub").notes -}}
{{-   end -}}
{{- else if (eq .passmgr "pass") -}}
{{-   if (eq .osid "linux-arch") -}}
{{-     pass "ssh/archlaptop-ed25519pub" -}}
{{-   else if (eq .osid "linux-pop") -}}
{{-   	pass "ssh/poplaptop-ed25519pub" -}}
{{-   else if (eq .osid "darwin") -}}
{{-   	pass "ssh/macbook-ed25519pub" -}}
{{-   else if (eq .osid "android") -}}
{{-     pass "ssh/android-ed25519pub" -}}
{{-   end -}}
{{- end -}}
