{{- if (eq .passmgr "bitwarden") -}}
{{-   if (eq .osid "linux-arch") -}}
{{-     (bitwarden "item" "archlaptop-rsapub").notes -}}
{{-   else if (eq .osid "linux-pop") -}}
{{-     (bitwarden "item" "poplaptop-rsapub").notes -}}
{{-   else if (eq .osid "darwin") -}}
{{-     (bitwarden "item" "macbook-rsapub").notes -}}
{{-   else if (eq .osid "android") -}}
{{-     (bitwarden "item" "android-rsapub").notes -}}
{{-   end -}}
{{- else if (eq .passmgr "pass") -}}
{{-   if (eq .osid "linux-arch") -}}
{{-     pass "ssh/archlaptop-rsapub" -}}
{{-   else if (eq .osid "linux-pop") -}}
{{-   	pass "ssh/poplaptop-rsapub" -}}
{{-   else if (eq .osid "darwin") -}}
{{-   	pass "ssh/macbook-rsapub" -}}
{{-   else if (eq .osid "android") -}}
{{-     pass "ssh/android-rsapub" -}}
{{-   end -}}
{{- end -}}
