{{- if (eq .osid "linux-arch") }}
[Settings]
gtk-font-name=SF Pro Display 10
gtk-theme-name=Gruvbox-Material-Dark
gtk-icon-theme-name=Gruvbox-Material-Dark
#gtk-icon-theme-name=Pop
#gtk-cursor-theme-name=Adwaita
{{- end }}
